<!DOCTYPE html>
<html>
<head>
    <title>Knockout.js file upload binding</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='knockout.debug.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ko.upload.js') }}?1"></script>
</head>
<body>

<input id="file" type="file" name="file" data-bind="upload: '/upload',
                                                    uploadDone: uploadDone,
                                                    uploadFail: uploadFail,
                                                    uploadProgress: uploadProgress,
                                                    uploadStart: uploadStart,
                                                    uploadEnd: uploadEnd">

<div id="log"></div>
<div id="progress"></div>

<script>
    var viewModel = function() {
        this.uploadDone = function(response) {
            $('#log').append('<div>' + response.message + '</div>');
        };
        this.uploadFail = function(response) {
            $('#log').append('<div>Upload error</div>');
        };
        this.uploadProgress = function(percent, position, total) {
            $('#progress').text('Total: ' + total + ', position: ' + position + ', percent: ' + percent + '.');
        };
        this.uploadStart = function() {

        };
        this.uploadEnd = function() {

        };
    }
    ko.applyBindings(new viewModel());
</script>

</body>
</html>